<html>
    <head>
        <title>COSI - {{ title }}</title>
    </head>
    <body>
        <h1>Welcome!</h1>

          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {{ form.symbol.select }}<br>
              {{ form.symbol(size=1) }}

            {{ form.group.select }}<br>
            {{ form.group(size=1) }}
            </p>
            <p>{{ form.submit() }}</p>
          </form>
          <p>
            {% if patents %}
              <table>
                <tr><th>Country</th><th>Patent number</th></tr>
                {% for patent in patents %}
                <tr><td>{{ patent[0] }}</td><td>{{ patent[1] }}</td></tr>
                {% endfor %}
              </table>
            {% endif %}
          </p>
    </body>

    <footer>
      <p>Developed by: Ignacio MARTIN VELASCO</p>
    </footer>
</html>
